@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    color: #ffffff;
    padding: 1%;
    padding-right: 5%;
    padding-left: 5%;
}

/*Barra superior*/
.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav 
.show>.nav-link{
    color: white;
}

.fa-solid {
    text-align: center;
    color: white;
    padding-left: 45%;
    padding-right: 45%;
    font-size: xx-large;
    font-weight: 300;
}

p {
    text-align: left;
}

.row {
    color: #ffffff;
}
/*Subtitulos*/
h5 {
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    padding-top: 4%;
    padding-bottom: 4%;
}

/*Formulario de bootstrap*/
.form {
    align-content: center;
    color: #ffffff;
    padding-left: 7.5%;
    padding-right: 7.5%;
}